/* Css antd */

/* -------------------- css thành phần mặc định của antd mà không dùng được design token -------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    color: #000000;
}

.div-form-data {
    padding: 15px;
    border: solid #d9d9d9 1px;
    border-radius: 5px;
}

.p-title-search {
    font-weight: 600;
}

.button-danger:hover {
    color: #ffffff !important;
    background-color: #ff4d4f !important;
}

.button-danger:active {
    color: #ffffff !important;
    background-color: #f5222d !important;
}

.ant-tooltip-inner{
    display: none !important;
}

.ant-tooltip-arrow {
    display: none !important;
}

.ant-select-selection-item {
    color: #000000;
}


