.demo-logo-vertical {
    height: 64px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-col-right-user {
    display: flex;
    justify-content: right;
    align-items: center;
}
