.demo-logo-vertical {
    height: 64px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-col-right-user {
    display: flex;
    justify-content: right;
    align-items: center
}

.user-info {
    height: 30px;
    margin-right: 21px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button-collapsed {
    width: 64px !important;
    height: 64px;
}

.ant-tooltip-inner{
    display: none !important;
}

.ant-tooltip-arrow {
    display: none !important;
}


