body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* -------------------- css căn chỉnh phần tử mẫu - chỉ việc gọi sử dụng -------------------- */
.align-content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.align-content-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.align-content-right {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: end;
}

.justify-space-between {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
}

/* -------------------- css căn chỉnh kiểu chữ mẫu - chỉ việc gọi sử dụng -------------------- */
.disable-text {
    color: #000000 !important;
    cursor: default !important;
}

.font-weight-bold {
    color: #000000 !important;
    font-weight: bold;
}

/* -------------------- css phần tử mẫu - chỉ việc gọi sử dụng -------------------- */
.line-space {
    width: 100%;
    height: 0.5px;
    background-color: #bae0ff;
    margin: 10px 0;
}

.line-space-2 {
    width: 0.5px;
    height: 100%;
    background-color: #bae0ff;
}


/* css riêng từng giao diện, phần tử */

/* begin login, register*/
.register-form {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-title {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.register-label {
    color: #0958d9;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.register-form input {
    width: 270px;
    height: 30px;
}

.register-banner img {
    height: 100vh;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 10;
}

.login-form-button {
    width: 100%;
}

.register-now {
    color: #0958d9;
    cursor: pointer;
    margin-left: 5px;
    font-weight: 600;
}

.button-log-out {
    color: #0958d9;
    font-weight: 600;
    cursor: pointer;
}

/* end login, register*/


/* begin layout */
.demo-logo-vertical {
    height: 64px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-col-right-user {
    display: flex;
    justify-content: right;
    align-items: center
}

.user-info {
    height: 30px;
    margin-right: 21px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button-collapsed {
    width: 64px !important;
    height: 64px;
}

/* end layout */

/* begin account info */
.account-info-left-col {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.avatar-account-info-div {
    height: calc(50% - 7.5px);
    padding: 15px !important;
    border: solid #d9d9d9 1px;
    border-radius: 5px;
}

.action-account-info-div {
    height: calc(50% - 7.5px);
    padding: 15px !important;
    border: solid #d9d9d9 1px;
    border-radius: 5px;
}

@media screen and (max-width: 992px) {
    .account-info-left-col {}

    .avatar-account-info-div {
        display: block;
        height: 100%;
        width: calc(50% - 7.5px) !important;
    }

    .action-account-info-div {
        display: block;
        height: 100%;
        width: calc(50% - 7.5px) !important;
    }
}

.account-info-form {
    border-radius: 5px !important;
}

.title-h3 {
    margin-bottom: 10px;
    border-left: 3px solid #1677ff;
    padding-left: 10px
}

/* datepicker khi disable */
#me_birthday {
    color: #000000 !important;
}

/* end account info */