body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* css thành phần mặc định của antd mà không dùng được design token*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    color: #000000;
}

.div-form-data {
    padding: 15px;
    border: solid #d9d9d9 1px;
}

.p-title-search {
    font-weight: 600;
}

.button-danger:hover {
    color: #ffffff !important;
    background-color: #ff4d4f !important;
}

.button-danger:active {
    color: #ffffff !important;
    background-color: #f5222d !important;
}

/* .modal-export {
    width: 80vw;
    height: auto;
    overflow: hidden;
} */
/* 
@media (maxW) {
    
} */

/* css căn chỉnh phần tử mẫu - chỉ việc gọi sử dụng */
.align-content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.align-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.align-right {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: end;
}

.justify-space-between {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
}

/* css phần tử mẫu - chỉ việc gọi sử dụng */

.line-space {
    width: 100%;
    height: 0.5px;
    background-color: #bae0ff;
    margin: 10px 0;
}

.line-space-2 {
    width: 0.5px;
    height: 100%;
    background-color: #bae0ff;
}

/* css riêng từng phần tử */

.register-form {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-title {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.register-label {
    color: #0958d9;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.register-form input {
    width: 270px;
    height: 30px;
}

.register-banner img {
    height: 100vh;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 10;
}

.login-form-button {
    width: 100%;
}

.register-now {
    color: #0958d9;
    cursor: pointer;
    margin-left: 5px;
    font-weight: 600;
}

.button-log-out {
    color: #0958d9;
    font-weight: 600;
    cursor: pointer;
}